
{%extends 'administration/layout_add.html'%}
{% load static %}
 
{%block content%}


            </header>

<section id="travel-info" class="section wide-fat reservation-pages">





                <div class="container"> 





                    <div class="col-xs-12 col-sm-12">

                        <div class="form-holder">

                            <form class="info-form" action="{% url 'administration:add_bus'%}" method="post">
                               
                                     {% csrf_token %}

                                    
                                <h1>Add Bustand</h1>
                                <div class="row field-row">

                                    <div class="col-xs-16 col-sm-4">

                                        <input type="text" class="required " placeholder="Name" name="name">

                                    </div>



                                    <div class="col-xs-12 col-sm-4">



                                        <input type="text"  pattern="\d*" class="required" placeholder="Phone_number" name="phone" maxlength="10">



                                    </div>
                                    <div class="col-xs-12 col-sm-4">



                                        <input type="text" class="required" placeholder="Pincode" name="pincode" maxlength="6">



                                    </div>

                                    <div class="col-xs-12 col-sm-4">



                                        <input type="text" class="required" placeholder="Location" name="location">



                                    </div>
                                    


                                </div>



                               

                                

                                <button type="submit" class="button green narrow">Submit</button>

                            </form>

                        </div>   
                       


            </section>



{%endblock%}   
                   









               

























           <!-- /#footer -->







