{%extends 'administration/layout_add.html'%}
{% load static %}
 
{%block content%}


          </header>

<section id="travel-info" class="section wide-fat reservation-pages">





                <div class="container"> 





                    <div class="col-xs-12 col-sm-12">

                        <div class="form-holder">

                            <form class="info-form" method="post" action="{% url 'administration:add_cab'%}">
                                {% csrf_token %}
                                <div class="row field-row">

                                    <div class="col-xs-16 col-sm-12">
                                        <h1>Add a Cab</h1>


                                        <input class="required " placeholder="Cab Name" name="cabaname">

                                    </div>
                                </div>

                                    

                                <div class="row field-row">

                                    <div class="col-xs-16 col-sm-4">

                                        <input type="text" pattern="\d*" maxlength="10" class="required " placeholder="Phone_number" name="cabphone">

                                    </div>



                                    <div class="col-xs-12 col-sm-4">



                                        <input class="required" placeholder="Location" name="cablocation">



                                    </div>
                                    <div class="col-xs-12 col-sm-4">



                                        <input type="text" pattern="\d*" maxlength="6" class="required" placeholder="Pincode" name="cabpincode">



                                    </div>
                                    


                                </div>



                               

                                

                                <button type="submit" class="button green narrow">Submit</button>

                            </form>

                        </div>   
                       


            </section>




{%endblock%}    
                   









               

























           <!-- /#footer -->

