{%extends 'administration/layout_view.html'%}
{% load static %}
 
{%block content%}

            </header>

<section id="travel-info" class="section wide-fat reservation-pages">





                <div class="container">	





                    <table>
                        <h1>View Petrol Pumbs</h1>

  <tr>
    <th>Name</th>
    <th>Pincode</th>
    <th>Location</th>
    <th></th>
    <th></th>
    
  </tr>
   {% for x in details%}
  <tr>
    <td>{{x.name}}</td>
    <td>{{x.pincode}}</td>
    <td>{{x.location}}</td>
 <td><a href="{% url 'administration:edit_petrol' x.id %}">Edit</a></td>
    <td><a href="{% url 'administration:delete_petrol' x.id %}">Delete</td>
  </tr>
  {% endfor %}

  
</table>
</div>



</div>
</body>
</html>
                         
                       


            </section>




                   









               

























           <!-- /#footer -->





{%endblock%}   



