
{%extends 'administration/layout_user.html'%}
{% load static %}
 
{%block content%}



            <div class="modal fade" id="loginBox" tabindex="-1" role="dialog"  aria-hidden="true">

                <div class="modal-dialog">

                    <div class="modal-content">



                        <div class="modal-body">

                            <form>

                                <div class=" field-row">



                                    <input  placeholder="Username">









                                    <input  type="password" placeholder="Password">





                                    <div class="custom-checkbox-holder">

                                        <input class="custom-checkbox" type="checkbox" >



                                        <span>Remember me on this computer.</span>

                                    </div>







                                </div>

                                <button type="submit" class="button green">Login Now</button>

                            </form>

                        </div>



                    </div>

                </div>

            </div>











            <section class="page-head-holder">

                <div class="container">

                    <div class="col-xs-6">



                        <h2>Event Planner</h2>

                    </div>

                    <div class="col-xs-6">

                        <div class="breadcrumb-holder">

                            <ol class="breadcrumb">


 
  Total km:{{total_km}}




                            </ol>

                        </div>

                    </div>

                </div>

            </section>



















           





                <div class="container">	









                    

<table>
  <tr>
    <th>Place No</th>
    <th>Name</th>
    <th>Distance from your location</th>
     <!-- <th>Kilometers more</th> -->
     <th>Total_distance</th>
   
    <th>Search on the way</th>
    
    <th>View Map</th>
    <th>Reached/not</th>
 
  </tr>
   {% for x in place_det%}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{x.place}}</td>
    <td>{{x.kilometers}}</td>
    <!-- <td>{{x.kilometers_more}}</td> -->

    <td>{{x.kilometers|add:x.kilometers_more}}</td>


    
   

    
    <td>
<div class="dropdown">
  <button onclick="myFunction{{forloop.counter}}()" class="dropbtn">Search nearby..........</button>
  <div id="myDropdown{{forloop.counter}}" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput{{forloop.counter}}" onkeyup="filterFunction{{forloop.counter}}()">

    
     {% for a,b in zipped%}
    {% if x.pincode == b %}

    {{a|safe}}
   
    {% endif %}
    {% endfor %}
  </div>
</div>
   <!-- <input type="button" name="" id="Search"> -->
    </td>
    
  
    <td><a href="{{x.location|safe}}">Map of {{x.place}}</a></td>
     <td><button id="reached">Reached</button></td>
       
   
  </tr>
  {% endfor %}
 
  
</table>
<br><br><br><br>








                </div>





           <!-- /#hotels.section -->		


<script src="{% static 'inc/jquery-3.3.1/jquery-3.3.1.js' %}"></script>
<script src="{% static 'inc/select2/dist/js/select2.full.js' %}"></script>
    <script type="text/javascript">
       
        $('#cat').select2();
         $("#cat").on("select2:select", function (e) {
window.open(e.params.data.id);
});
         $(document).on('click','#Search',function(e){
          $('.js-example-basic-single').select2();
         });



          $(document).on('click', '#reached', function () {
 var row = $(this).closest("tr")
$(this).closest('tr').remove();
});
    </script>
{%endblock%}    























         