
{%extends 'administration/layout_user.html'%}
{% load static %}
 
{%block content%}



<section class="section wide-fat">





                <div class="container">	





                    <div class="col-xs-12 col-sm-4">

                        <div class="sidebar-holder">

                            <article class="entry-content">

                               
                                <h2 class="post-title">{{details.name}}</h2>



                               

                                <div class="rating-area">

                                   

                                    <div class="bars">

                                       

                                    </div>

                                    <hr>



                                    <a href="{{details.location}}" class="button green wide-fat capital">Location</a>

                                   

                                </div>





                            </article>



                            

                            </div>

                        </div>





                    </div>


                         
                       


            </section>
</div>


{%endblock%}   


                   









               

























           <!-- /#footer -->


