	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/06/2017 08:57
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size:62px;
  font-style: normal;
}

.flaticon-sailboat:before { content: "\f100"; }
.flaticon-hunter-hunting-with-bow-and-arrow:before { content: "\f101"; }
.flaticon-diver:before { content: "\f102"; }
.flaticon-man-on-motorbike:before { content: "\f103"; }
.flaticon-climbing-silhouette:before { content: "\f104"; }
.flaticon-giraffe:before { content: "\f105"; }
.flaticon-man-in-hike:before { content: "\f106"; }
.flaticon-man-going-bungee-jumping:before { content: "\f107"; }